$root-class: episode--card;

.#{$root-class} {
	background-color: white;
	min-height: 550px;
	display: flex;
	flex-direction: column;

	&__button {
		background: none;
		color: inherit;
		border: none;
		padding: 0;
		margin-bottom: 1px;
		outline: inherit;
		width: 100%;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
	}

	&__name {
		width: 100%;
		padding: 10px 15px 0;
		display: flex;
		flex-grow: 1;
		justify-content: center;
	}

	&__audio {
		width: 100%;
		background-color: white;
		margin-bottom: 8px;
	}
}
